<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.sition.plugins"
      version="0.1.0">
    <name>DownloadPlugin</name>
    <description>Plugin to download files</description>
    <license>MIT</license>
    <keywords>phonegap,download</keywords>


    <js-module src="www/download.js" name="DownloadPlugin">
        <clobbers target="window.downloadplugin" />
    </js-module>
	<js-module src="www/PlayPlugin.js" name="VideoPlayerPlugin">
		<clobbers target="window.videoplayplugin" />
	</js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DownloadPlugin">
                <param name="android-package" value="com.sition.plugins.DownloadPlugin"/>
            </feature>
			<feature name="VideoPlayerPlugin">
				<param name="android-package" value="com.sition.plugins.VideoPlayerPlugin"/>
			</feature>
        </config-file>

        <source-file src="src/android/DownloadPlugin.java" target-dir="src/com/sition/plugins" /> 
		<source-file src="src/android/VideoPlayerPlugin.java" target-dir="src/com/sition/plugins"/>
     </platform>          
</plugin>